<div class="container-fluid mt-3 d-flex justify-content-between">
    <nav aria-label=" breadcrumb  " class="row d-flex justify-content-between m-3">
      <ol class="breadcrumb" style="font-size: 1.5em;">
        <li class="breadcrumb-item pl-3"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
      
    </nav>
    <form action="/checkin/logout?_method=DELETE" method="POST" class="align-self-top m-3"> 
      <button type="submit" class="btn btn-secondary col-auto ">Log Out</button>
    </form>
  </div>