<footer class="container-fluid">
    <div class="container">
         <h1>Elaeagnus latifolia</h1>
         <p>
            Elaeagnus latifolia: Your one-stop digital marketplace for 
            a world of digital products and services, connecting creators and 
            consumers with ease and efficiency. Discover, access, and engage with innovative software,
            content, and more in this vibrant digital ecosystem.
        </p>
    </div>
</footer>