<footer class="container-fluid mt-4">
    <div class="container">
        <div class="row mt-5 text-center">
            <h1>Elaeagnus Latifolia</h1>
        </div>

        <div class="row mt-2">
            <p>
                Your one-stop digital marketplace for 
                a world of digital products and services, connecting creators and 
                consumers with ease and efficiency. Discover, access, and engage with innovative software,
                content, and more in this vibrant digital ecosystem. 
            </p>
        </div>

        <div class="row mt-5">

            <div class="col-4">
                <h4>Contact Us</h4>
                <a href="https://www.facebook.com/" class="text-white custom-icon"> <i class="bi bi-facebook "></i></a>
                <a href="https://www.instagram.com/" class="custom-icon text-white"> <i class="bi bi-instagram "></i></a>               
                <a href="https://github.com/Bunchango/TerminalManagementSystem" class="custom-icon text-white"> <i class="bi bi-github"></i> </a>
                
            </div>

            <div class="col-4">
                <div class="row mb-2"><h4>More Information</h4></div>
                <div class="row "><a href="" class="text-white">About Us</a></div>
                <div class="row"><a href="" class="text-white">Privacy Policy</a></div>
                <div class="row"><a href="" class="text-white">Customer Service</a></div>
            </div>

            <div class="col-4">
                <div class="row "> <h4>Return and Exchange Policy</h4></div>

                <div class="row mt-2"> <a href="" class="text-white">Return Process</a> </div>
                <div class="row "> <a href="" class="text-white">Exchange Policy</a></div>
                <div class="row "> <a href="" class="text-white">Refund Information</a></div>
            </div>

           
        </div>

        <div class="row">
            <p class="text-center mt-5"> © 2023 RMIT Store, Inc </p>
        </div>
    </div>
</footer>