
<div class="container-fluid custom-nav">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-2 text-center"><a href="vendor-register" class="clr">Vendor</a></div>
        <div class="col-2 text-center"><a href="customer-register" class="clr">Customer</a></div>
        <div class="col-2 text-center"><a href="shipper-register" class="clr">Shipper</a></div>
        <div class="col-3"></div>
    </div>
</div>






<!-- <nav class="container nav-register">
    <ul class="row nav-register">
        <li class="col nav-register">
            <a href="vendor-register" class="clr">Vendor</a>
        </li>
        <li class="col nav-register">
            <a href="customer-register" class="clr">Customer</a>
        </li>
        <li class="col nav-register">
            <a href="shipper-register" class="clr">Shipper</a>
        </li>
    </ul>
</nav> -->
