<header>
    <nav class="container-fluid nav">
      <div class="container nav justify-content-between flex-nowrap">
        <div class="col-md-2 text-left">
          <a class="navbar-brand" href="#">
            <img src="/images/logo-quanhot.png" alt="" style="max-width: 10vh; height: auto;">
          </a>
        </div>
        <div class="col-md-8 text-center d-flex justify-content-center align-items-center">    
          <a href="" class="text-white text-decoration-none">
            <span class="font-weight-bold" style="font-size: 4vw;">
              Shipper's page
            </span>
          </a>
        </div>
        <div class="col-md-2 text-right d-flex justify-content-end align-items-center">
          <a href="/profiles/shipper-profile" class="text-white text-decoration-none"><img src="/<%= user.profilePicture %>" alt="profile picture" style="width: 40px; border-radius: 20px;"></a>
        </div>
          
      </div>
  </nav>
  </header>