<nav class="container nav-register">
    <ul class="row nav-register">
        <li class="col nav-register">
            <a href="vendor-register" class="clr">Seller</a>
        </li>
        <li class="col nav-register">
            <a href="customer-register" class="clr">Customer</a>
        </li>
        <li class="col nav-register">
            <a href="shipper-register" class="clr">Shipper</a>
        </li>
    </ul>
</nav>
