<header>
    <nav class="container-fluid nav">
      <div class="container nav justify-content-between flex-nowrap">
        <div class="col-md-2 text-left">
          <a class="navbar-brand" href="/">
            <img src="/images/logo-quanhot.png" alt="logo" id="logo-img">
          </a>
        </div>
        <div class="col-md-8 text-center d-flex justify-content-center align-items-center">    
          <a href="/" class="text-white text-decoration-none">
            <span class="font-weight-bold" id="nav-title">
              Shipper's page
            </span>
          </a>
        </div>
        <div class="col-md-2 text-right d-flex justify-content-end align-items-center">
        <a href="/profiles/profile" class="text-white text-decoration-none"><img src="/<%= user.profilePicture %>" alt="profile picture" id="profile-img-icon" ></a>
        </div>
      </div>
  </nav>
  </header>
