.container.login{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.btn-none:hover {
    border: 3px solid black; 
}

a.btn-none {
    margin-top: 30px;
}

