/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author: Dong Manh Duc, Do Thuy Linh, Le Nguyen My Chau, Nguyen Ba Duc Manh, Tran Tuan Trung
ID: s3977747, s3927777, s3978165, s3978506, s3978290
Acknowledgement: Pedro Tech, Web Dev Simplified. */

.container-fluid.nav {
    height: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #1B2430;
    
    
}

span {
    text-decoration: none;
    color: #fde5e5;
    font-family: 'Titan One', cursive;
}

.order-box {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px; /* Add padding for spacing */
  }

#card-container {
    height: 100%;
}
#btn-container {
    position: relative;
    height: 50px;
}
#btn {
    min-width: 120px;
    position: absolute;
    bottom: 0;
}
#fixed-height {
    height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar */
    border: 1px solid #ccc; /* Add border for styling */
    padding: 10px; /* Add padding for content */
}

#img-product {
    height: 50vh;
}

#profile-img-icon {
    width: 40px; 
    height: 40px;
    border-radius: 20px;
}

#nav-title {
    font-size: 4vw;
}

#logo-img {
    max-width: 10vh; 
    height: auto;
}

footer{
    padding: 30px;
    padding-bottom: 40px;
    height: auto;
    background-color: #1B2430;
    color: white;
}
