.container-fluid.nav {
    height: 100px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #1B2430;
    
    
}

span {
    text-decoration: none;
    color: #fde5e5;
    font-family: 'Titan One', cursive;
}

.order-box {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px; /* Add padding for spacing */
  }

#card-container {
    height: 100%;
}
#btn-container {
    position: relative;
    height: 50px;
}
#btn {
    min-width: 120px;
    position: absolute;
    bottom: 0;
}
#fixed-height {
    height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Add vertical scrollbar */
    border: 1px solid #ccc; /* Add border for styling */
    padding: 10px; /* Add padding for content */
}
footer{
    padding: 30px;
    padding-bottom: 40px;
    height: auto;
    background-color: #1B2430;
    color: white;
}