footer{
    padding: 30px;
    padding-bottom: 40px;
    height: auto;
    background-color: #1B2430;
    color: white;
}

a.btn-none:hover {
    border: 3px solid black; 
}

a.btn-none {
    margin-top: 30px;
}

.custom-icon {
    margin-right: 10px;
}
.clr{
    text-decoration: none;
    color: white;
}


.clr:hover{
    text-decoration: underline;
    text-decoration-color: white;
}


.container.form{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.custom-nav {
    background-color: #1B2430;
    padding: 20px;
    height: auto;
}