footer{
    padding: 30px;
    height: auto;
    background-color: #1B2430;
    color: white;
}

a.btn-none:hover {
    border: 3px solid black; 
}

a.btn-none {
    margin-top: 30px;
}

.custom-icon {
    margin-right: 10px;
}
.clr{
    text-decoration: none;
    color: white;
}

/* .row.nav-register{
    list-style-type: none;
} */

/* .container.nav-register{
    width: 400px;
    background-color: #1B2430;
} */

/* .col.nav-register{
    font-size: 20px;
    cursor: pointer;
} */

.clr:hover{
    text-decoration: underline;
    text-decoration-color: white;
}


.container.form{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* testing */
.custom-nav {
    background-color: #1B2430;
    padding: 20px;
    height: auto;
}