<nav class="container-fluid nav">
    <div class="container nav">
        <a href=""><img></a>
        <form action="/customer/search-result" method="GET" class="row-search row align-items-center">
            <div class="input-group">
                <input type="search" id="query" name="searchQuery" placeholder="Search products..." data-search class="form-control">
                <button class="btn btn-light" type="submit"><i class="bi bi-search text-black"></i></button>
                <a href="/customer/shopping-cart" class="shopping-icon"> <i class="bi bi-cart-fill"></i></a>
            </div>
        </form>
    </div>
</nav>

