<nav class="container-fluid nav">
    <div class="container nav">
        <form action="/search-result" method="GET" class="row">
            <input type="search" id="query" placeholder="Search products..." data-search class="col-sm-9 col-8">
            <button class="col-sm-1 col-2"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a href="/customer/shopping-cart" class="col-sm-1 col-2"> <i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</nav>
