<nav class="container-fluid nav">
    <div class="search-wrapper">
        <form action="/search" method="GET">
            <label for="search">Search</label>
            <input type="search" id="search" data-search>
        </form>
    </div>
</nav>