<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  </head>
  <body>

    <%- include ('./../partials/nav-register')%>
    <div class="container form border border-dark rounded p-2 mt-5 mb-5 ">
      <h1> Vendor Registration </h1>

      <form action="vendor-register" method="POST" >   
        <div> 
          <label for="username" class="form-label item-center mt-4 ">Username</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-person-fill"></i>
            </span>
              <input type="text" id="username" name="username" class="form-control" required>
          </div>
        </div>

        <div>
          <label for="password" class="form-label mt-2">Password</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-key-fill"></i>
            </span>
            <input type="text" id="password" name="password" class="form-control" required> 
          </div>
        </div>

        <div>
          <label for="businessName" class="form-label">Business Name</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-briefcase-fill"></i>
            </span>
            <input type="text" id="businessName" name="businessName" class="form-control" required> 
          </div>
          
        </div>     

        <div>
          <label for="businessAddress" class="form-label">Business Address</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-building-fill"></i>
            </span>
            <input type="text" id="businessAddress" name="businessAddress" class="form-control" required> 
          </div>
        </div>  

        <label for="error">
          <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <ul class="error-list">
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>
        </label>

        <button type="submit" class="btn btn-dark mt-5 mx-auto d-block">Register</button>
      </form>
      <a href="login" class="btn btn-none ">Login</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <%- include ('./../partials/footer')%>
  </body>
</html>
